.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 8%;

  border-bottom: 1px solid #ea8787;
  /* border-bottom: 1px solid var(--color-border); */
}

.navbar__logo {
  font-size: 24px;
  font-weight: 700;
}

.navbar__links {
  display: flex;
  gap: 28px;
}

.navbar__links a {
  text-decoration: none;
  color: #222;
  font-size: 16px;
}